@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-container {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.leaflet-tooltip {
  background-color: white;
  border: 2px solid #002d72;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}